             td {
                border: 2px solid black;
            }
            th, table {
                border: 3px solid black;
            }
            table {
                border-collapse: collapse;
                color: green;
            }
            td,th {
                padding-left: 10px;
                padding-right: 10px;
            }
            a {
              color: black;
            }
    
